<div class="form-group my-4 py-4 border-top border-bottom">
  <%= link_to create_guest_path, method: :post, data: { confirm: 'ゲストユーザーとしてログインします。'}, class: "btn btn-block btn-info" do %>
    ゲストログイン
  <% end %>
</div>