<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <h4 class="py-4 mb-0">
        <span class="ml-3 font-weight-bold">
          新規投稿
        </span>
      </h4>

      <% @posts.order(created_at: :desc).each do |post| %>
        <%= render 'index', post: post %>
      <% end %>

    </div>
  </div>
</div>
