<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <h4 class="py-4 mb-0">
        <span class="ml-3 font-weight-bold">
          投稿詳細
        </span>
      </h4>

      <%= render 'index', post: @post %>
      <%= render 'public/post_comments/comment', post: @post, post_comment: @post_comment %>
        <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>

    </div>
  </div>
</div>