<div class="top-image">
  <%= image_tag "buildnote/linkedin_banner_image_1.png", class: "top-img" %>
</div>

<div class="container">
  <h1 class="my-5">
    <b>buildnote</b>について
  </h1>
  <p class="text-center">
    『<b>buildnote</b>』は、トレーニングを行う人向けに特化した記録系SNSサイトです。<br>
    トレーニングの記録管理により、トレーニングの成果をサポートし、同時にトレーニングを行うユーザー同士で交流することができます。<br>
    『<b>buildnote</b>』という名前は、体を作ることを意味する『<b>build</b>』とデータを記録することを意味する『<b>note</b>』から名付けました。
  </p>

  <h3 class="my-5">
    <b>これを開発した理由</b>
  </h3>
  <ol class="pl-4">
    <li>
      トレーニング成果の可視化
      <p>グラフなどにより、メモ帳に記録するよりも明確にトレーニング成果を可視化できます。</p>
    </li>
    <li>
      トレーニングに特化したSNSの必要性
      <p>一般的なSNSでは、鍛えた体やトレーニングの成果を投稿することに抵抗感を感じる人もいますが、トレーニングに特化したSNSであれば、
      筋トレやフィットネスに対する共通の関心や目的を持つ人々が集まり、鍛えた体やトレーニングの成果を自然に共有することができます。</p>
    </li>
  </ol>

  <p class="mt-5 pt-5">
    技術的なことに関しては、
    <a href="https://github.com/yusukeee811/buildnote" target="_blank">GitHub</a>
    のREADMEに記載しておりますので、ご覧ください。
  </p>
</div>




