<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto shadow-lg rounded px-0 my-5">
      <h4 class="bg-light py-4 mb-0">
        <span class="ml-3 font-weight-bold">
          トレーニング情報編集
        </span>
      </h4>

      <%= render 'form', training: @training %>

    </div>
  </div>
</div>
