<div class="container">
  <%= month_calendar events: @trainings do |date, trainings| %>
    <%= date.day %>
    <% trainings.each do |training| %>
      <div>
        <%= training.name %>
      </div>
    <% end %>
  <% end %>
</div>
