@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 新規登録画面フラッシュメッセージ //
#error_explanation {
  color: red;
}

// ヘッダーを右に配置 //
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 220px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #3A4750;
}

.body-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  margin-left: 220px;
}
// ここまで //

// ヘッダー編集 //
.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: initial;  //これがないと自動で justify-content: space-between;されてしまう。
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
}

.navbar-nav {
  flex-grow: 1;
  justify-content: space-between;
}

.navbar-nav .nav-item:last-child {
  margin-top: auto;
}

.nav-item:hover {
  background-color: #f0f0f0;
}
// ここまで //

.top-img {
  width: 100%;
  height: 100px;
  object-fit: contain; //比率を保持して画像を要素いっぱいに広げる
  background-color: #3A4750;
}

.card-img-top {
  width: 100%;
  height: 443px;  //widthのサイズに合わせるため
  object-fit: contain; //比率を保持して、画像の幅と高さのうち大きい方のサイズに合わせて画像を表示
}

.user-post {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.container-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.status-active {
  color: green;
}

.status-withdrawal {
  color: lightgray;
}

.status-force_withdrawal {
  color: red;
}
