@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #3A4750;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  overflow-y: auto;
}

.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: initial;  //これがないと自動で justify-content: space-between;されてしまう。
}

.navbar-brand {

}

.navbar-nav {
  flex-grow: 1;
  justify-content: space-between;
}

.navbar-nav .nav-item:last-child {
  margin-top: auto;
}