.simple-calendar table {
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  border-collapse: collapse;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  table-layout: fixed;
}

.simple-calendar th {
    border-collapse: collapse;
}

.simple-calendar table th {
  border-bottom: 1px solid #000;
  border-top: none;
  text-align: center;
}

.simple-calendar td {
  padding: 6px;
  border: 1px solid #000;
  width: 14%;
  height: 80px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}

.simple-calendar td:hover {
  background-color: #f0f0f0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: white;
}

.calendar-heading {
  text-align: center;
}

.previous-btn, .next-btn {
  width: 150px;
}

.simple-calendar table {
  table-layout: fixed;
}

.simple-calendar table th:nth-child(7) { /* 土曜日 */
  color: #1e90ff;
}

.simple-calendar table th:nth-child(1) { /* 日曜日 */
  color: #fa8072;
}

/* .simple-calendar table td:nth-child(7) { /* 土曜日日付 */
/*  color: #1e90ff;
/* }

/* .simple-calendar table td:nth-child(1) { /* 日曜日日付 */
/*   color: #fa8072;
/* } */

/* 前後の月の日付をグレースケールに変更 */
.previous-month, .next-month{
  background-color: #d3d3d3;
  color: #808080;
}

.simple-calendar table td.previous-month:nth-child(7),
.simple-calendar table td.next-month:nth-child(7),
.simple-calendar table td.previous-month:nth-child(1),
.simple-calendar table td.next-month:nth-child(1) {
  color: #808080;
}

.today {
  background-color: #007bff;
  color: #ffffff !important;
}