<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto px-0">
      <h4 class="py-4 mb-0">
        <span class="ml-3 font-weight-bold">
          <%= @user.name %>の投稿一覧
        </span>
      </h4>

      <%= render 'admin/posts/index', posts: @posts %>

    </div>
  </div>
</div>